/* Color Theme Swatches in Hex */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.App {
  max-width: 1200px;
  margin: 0 auto;
  background: lightslategrey; }

.navigation {
  background: greenyellow;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2; }
  .navigation__fixed {
    padding: 1rem;
    max-width: 1200px;
    background: red;
    margin: 0 auto; }
    .navigation__fixed__logo {
      font-weight: bold;
      margin-left: 0.5rem; }
    .navigation__fixed__links {
      list-style: none;
      display: none; }
      @media screen and (min-width: 576px) {
        .navigation__fixed__links {
          display: inline-block; } }
      .navigation__fixed__links a {
        display: inline-block;
        margin-left: 1.5rem;
        text-decoration: none;
        font-weight: bold; }
    .navigation__fixed__menu-bar {
      float: right;
      clear: both;
      cursor: pointer; }
      @media screen and (min-width: 576px) {
        .navigation__fixed__menu-bar {
          display: none; } }
      .navigation__fixed__menu-bar div {
        width: 35px;
        height: 5px;
        background: white;
        border-radius: 10px; }
      .navigation__fixed__menu-bar #two {
        margin-top: 3px; }
      .navigation__fixed__menu-bar #three {
        margin-top: 3px; }

.toggle-menu {
  background: rgba(255, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-out;
  transform: translateY(-1500px); }
  .toggle-menu__links {
    list-style: none; }
    .toggle-menu__links a {
      text-decoration: none; }
      .toggle-menu__links a li {
        margin: 1rem;
        font-size: 1.5rem;
        text-align: center; }

.reveal {
  transform: translateY(0); }

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: orange; }

.about-me {
  background: orchid;
  padding: 3rem 1rem 3rem 1rem;
  display: grid;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .about-me {
      grid-template-columns: 1fr 1.5fr; } }
  @media screen and (min-width: 992px) {
    .about-me {
      grid-template-columns: 1fr 2fr; } }
  .about-me__image {
    background: green;
    display: none; }
    @media screen and (min-width: 768px) {
      .about-me__image {
        display: block; } }
  .about-me__summary p {
    margin-top: 2rem; }
  .about-me__summary h3 {
    margin-top: 2rem; }
  .about-me__summary ul {
    margin-top: 1rem;
    margin-left: 1rem; }
    .about-me__summary ul li {
      margin-bottom: 0.5rem; }

.projects {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: chocolate; }
  .projects__header {
    text-align: center; }
  .projects__card-group {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .projects__card-group__card-item {
      background: gold;
      margin: 1rem;
      width: 350px;
      height: 200px; }

.contacts {
  background-color: crimson;
  text-align: center;
  padding-top: 2rem; }
  .contacts__lead {
    margin-top: 1rem;
    font-size: 1.3rem; }
  .contacts__mail {
    margin-top: 0.5rem;
    font-size: 1.15rem; }
    .contacts__mail span {
      font-weight: bold; }
  .contacts__icons {
    margin-top: 1rem; }
  .contacts__copyright {
    background-color: darkkhaki;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.15rem; }

.divide {
  background-color: black;
  height: 5px; }
