.about-me {
  padding: 3rem 1rem 3rem 1rem;
  max-width: 1000px;
  margin: 0 auto;
  color: $color1;

  &__header {
    text-align: center;
  }

  &__container {
    display: grid;
    padding-top: 2rem;
    gap: 2rem;

    @include small {
      grid-template-columns: 2fr 1fr;
    }

    &__summary {
      & h3 {
        font-size: 1.3rem;
      }
      & p {
        margin-top: 1rem;
        font-size: 1.15rem;
      }
    }

    &__skills {
      & h3 {
        font-size: 1.3rem;
      }
      & ul {
        margin-top: 1rem;
        padding-left: 1rem;

        & li {
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}
