.contacts {
  background: $color2;
  text-align: center;
  padding-top: 2rem;
  color: white;

  &__lead {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  &__mail {
    margin-top: 0.5rem;
    font-size: 1.15rem;
    & span {
      font-weight: bold;
    }
  }

  &__icons {
    margin-top: 1rem;
  }

  &__copyright {
    background: $color1;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.15rem;
    font-weight: bold;
    color: white;
  }

  &__links {
    margin-top: 1rem;

    & a {
      margin: 0.5rem;
      color: #fff;

      & i {
        transition: all 0.35s ease-out;

        &:hover {
          transform: scale(1.1);
          color: $color4;
        }
      }
    }
  }
}
