.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  // Fixed menu of the navigation bar
  &__fixed {
    padding: 1rem;
    max-width: 1200px;
    background: $color1;
    margin: 0 auto;
    color: white;

    &__logo {
      font-weight: bold;
      margin-left: 0.5rem;
    }
    &__links {
      list-style: none;
      display: none;

      @include small {
        display: inline-block;
      }

      & a {
        display: inline-block;
        margin-left: 1.5rem;
        text-decoration: none;
        font-weight: bold;
        color: white;
        transition: all 0.35s ease-out;

        &:hover {
          color: $color4;
        }
      }
    }

    // Hamburger menu styles
    &__menu-bar {
      float: right;
      clear: both;
      cursor: pointer;

      @include small {
        display: none;
      }

      &:hover {
        & div {
          background: $color4;
        }
      }

      & div {
        width: 35px;
        height: 5px;
        background: white;
        border-radius: 10px;
        transition: all 0.35s ease-out;
      }

      & #two {
        margin-top: 3px;
      }

      & #three {
        margin-top: 3px;
      }
    }
  }
}
