// Toggle menu of the navigation bar
.toggle-menu {
  background: rgba($color: $color1, $alpha: 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-out;
  transform: translateY(-1500px);

  &__links {
    list-style: none;

    & a {
      text-decoration: none;
      color: white;
      transition: color 0.35s ease-out;

      &:hover {
        color: $color4;
      }

      & li {
        margin: 1rem;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

.reveal {
  transform: translateY(0);
}
